<div class="auth container">
    <ul id="tabs-swipe" class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Login</a></li>
        <li class="tab col s6"><a href="#register">Register</a></li>
    </ul>

    <div id="login" class="col s12 offset-s3">
        <h5>Вход в магазин</h5>
        <form action="/auth/login" method="POST">
                <div class="input-field">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Введите email"></span>
                </div>
                <div class="input-field">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Пароль</label>
                    <span class="helper-text" data-error="Введите пароль"></span>
                </div>
                <button id='submit' class="btn btn-large" type="submit">Войти</button>
        </form>
    </div>

    <div id="register" class="col s12 offset-s3">
        <h5>Регистрация в магазине</h5>
        <form action="/auth/register" method="POST">
                <div class="input-field">
                    <input id="remail" name="email" type="email" class="validate" required>
                    <label for="remail">Email</label>
                    <span class="helper-text" data-error="Введите email"></span>
                </div>
                <div class="input-field">
                    <input id="rpassword" name="password" type="password" class="validate" required>
                    <label for="rpassword">Пароль</label>
                    <span class="helper-text" data-error="Введите пароль"></span>
                </div>
                <div class="input-field">
                    <input id="confirm" name="confirm" type="password" class="validate" required>
                    <label for="confirm">Повторите пароль</label>
                    <span class="helper-text" data-error="Введите пароль"></span>
                </div>
                <button id='submit' class="btn btn-large" type="submit">Зарегистрироваться</button>
        </form>

    </div>
</div>