<div class="auth container">
    <div class="col s12 offset-s3">

        {{#if error}}
        <p class="toast" style="top: 0px; opacity: 1;">{{error}}</p>
        {{/if}}

        <h5>Введите новый пароль</h5>
        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Новый пароль</label>
                <span class="helper-text" data-error="Введите пароль"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
            
            <button id='submit' class="btn btn-large" type="submit">Создать новый пароль</button>
        </form>
    </div>
</div>