<p><a href="/about" class="link">About Page</a></p>
<p><a href="/about" class="link">About Page</a></p>
<p><a href="/about" class="link">About Page</a></p>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>

</html>